.post {
    /* Border around post */
    border-style: solid;
    border-radius: 1rem;
    box-shadow: 10px 10px;

    /* Space around post */
    padding: 15px;
    margin: 1rem 0;

    /* Colors */
    background-color: orange;
}

.post-meta {
    font-size: .9rem;
    font-style: italic;
}

.post-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

