@using LinkBlog.Contracts
@using Microsoft.AspNetCore.Components

@if (Posts == null || Posts.Length == 0)
{
    <p><em>No posts to display.</em></p>
}
else
{
    <main>
        @foreach (var post in Posts)
        {
            <BlogPost DisplayPost="@post" />
        }
    </main> 
}

@code {
    [Parameter]
    public Post[]? Posts { get; set; }
}