<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            Homegrown with <a href="https://aka.ms/blazor" target="_blank">Blazor</a>
        </div>
        <div class="footer-content">
            Archive: <a href="/archive/2025">2025</a>
        </div>
    </div>
</footer>