.header {
    background-color: orange;

    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

h1 {
    margin: 0;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Pushes the title and social links all the way to the edges of the title */
    align-items: center;

    /* Push the items in toward the center */
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.title {
    margin-left: 0.5rem; /* Push the title to the right slightly */
}

.title-link {
    text-decoration: none; /* Remove underline from link */
    color: black;
}

.logo {
    width: 1.5rem;
    height: 1.5rem;
}

.link-container {
    display: flex; /* Make the items display horizontally */
    align-items: center; /* Vertically align the items */
    gap: .4rem; /* Space between logo and text of link */
}

.social-links {
    display: flex;
    align-items: center;
    margin-right: 0.5rem; /* Push the social links to the left slightly */
}

.social-link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

a {
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: #005fa3;
    transform: scale(1.1);
}