@inherits LayoutComponentBase

<input type="checkbox" id="theme-toggle" class="theme-toggle-checkbox" checked />

<Header />

<div class="page">
    <main>
        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
