@page "/blogroll"
@attribute [OutputCache(Duration = 3600)]

<PageTitle>Blogroll - David Jarman</PageTitle>

<div class="blogroll-container">
    <h1>Blogroll</h1>

    <div class="blogroll-intro">
        <p>This is the list of other blogs that I subscribe to. I have been using the <a href="https://newsblur.com/">Newsblur</a> reader since 2022 and have greatly enjoyed it.</p>
        <p class="opml-download">
            <a href="/static/blogs.oplm" download="blogroll.opml">Download OPML file</a> to subscribe to all these feeds in your RSS reader.
        </p>
    </div>

    <div class="blogroll-list">
        <div class="category">
            <h2>Science &amp; Technology</h2>
            <ul>
                <li><a href="https://what-if.xkcd.com">what if?</a> (<a href="https://what-if.xkcd.com/feed.atom">RSS</a>)</li>
                <li><a href="https://www.hanselman.com/blog/">Scott Hanselman</a> (<a href="https://www.hanselman.com/blog/feed/rss">RSS</a>)</li>
                <li><a href="https://devblogs.microsoft.com/">Microsoft for Developers</a> (<a href="https://devblogs.microsoft.com/landingpage/">RSS</a>)</li>
                <li><a href="https://scotthelme.ghost.io/">Scott Helme (security)</a> (<a href="https://scotthelme.co.uk/rss/">RSS</a>)</li>
                <li><a href="https://www.youtube.com/channel/UCL-fHOdarou-CR2XUmK48Og">Scott Hanselman</a> (<a href="https://www.youtube.com/feeds/videos.xml?channel_id=UCL-fHOdarou-CR2XUmK48Og">RSS</a>)</li>
                <li><a href="https://jvns.ca">Julia Evans</a> (<a href="https://jvns.ca/atom.xml">RSS</a>)</li>
                <li><a href="https://ciechanow.ski/">Bartosz Ciechanowski</a> (<a href="https://ciechanow.ski/atom.xml">RSS</a>)</li>
                <li><a href="http://rachelbythebay.com/w/">Writing - rachelbythebay</a> (<a href="http://rachelbythebay.com/w/atom.xml">RSS</a>)</li>
                <li><a href="https://kubernetes.io/blog">Kubernetes Blog</a> (<a href="https://kubernetes.io/feed.xml">RSS</a>)</li>
                <li><a href="http://nathanmarz.com/blog/">thoughts from the red planet</a> (<a href="http://feeds.feedburner.com/ThoughtsFromTheRedPlanet">RSS</a>)</li>
                <li><a href="https://zwischenzugs.com">zwischenzugs.com</a> (<a href="https://zwischenzugs.com/feed/">RSS</a>)</li>
                <li><a href="http://oldvcr.blogspot.com/">Old Vintage Computing Research</a> (<a href="http://oldvcr.blogspot.com/feeds/posts/default?alt=rss">RSS</a>)</li>
                <li><a href="https://explained-from-first-principles.com/">Explained from First Principles</a> (<a href="https://explained-from-first-principles.com/feed.xml">RSS</a>)</li>
                <li><a href="https://azure.microsoft.com/en-us/blog/">Microsoft Azure Blog</a> (<a href="https://azure.microsoft.com/en-us/blog/feed/">RSS</a>)</li>
                <li><a href="https://www.stavros.io/">Stavros' Stuff</a> (<a href="https://feeds.feedburner.com/stavrosstuff">RSS</a>)</li>
                <li><a href="https://www.techemails.com">Internal Tech Emails</a> (<a href="https://www.techemails.com/feed">RSS</a>)</li>
                <li><a href="https://devblogs.microsoft.com/dotnet/author/toub/">Stephen Toub - MSFT, Author at .NET Blog</a> (<a href="https://devblogs.microsoft.com/dotnet/author/toub/feed/">RSS</a>)</li>
                <li><a href="https://mitchellh.com/writing">Mitchell Hashimoto</a> (<a href="https://mitchellh.com/feed.xml">RSS</a>)</li>
                <li><a href="https://seldo.com">Seldo.com</a> (<a href="https://seldo.com/rss.xml">RSS</a>)</li>
                <li><a href="https://daringfireball.net/">Daring Fireball</a> (<a href="https://daringfireball.net/feeds/json">RSS</a>)</li>
                <li><a href="https://lethain.com/">Irrational Exuberance</a> (<a href="https://lethain.com/feeds.xml">RSS</a>)</li>
            </ul>
        </div>

        <div class="category">
            <h2>InfoSec</h2>
            <ul>
                <li><a href="https://www.blackhillsinfosec.com/">Black Hills Information Security, Inc.</a> (<a href="https://www.blackhillsinfosec.com/feed/">RSS</a>)</li>
                <li><a href="https://www.schneier.com/">Schneier on Security</a> (<a href="https://www.schneier.com/feed/atom/">RSS</a>)</li>
                <li><a href="https://www.troyhunt.com/">Troy Hunt</a> (<a href="https://www.troyhunt.com/rss/">RSS</a>)</li>
                <li><a href="https://krebsonsecurity.com">Krebs on Security</a> (<a href="https://krebsonsecurity.com/feed/">RSS</a>)</li>
                <li><a href="https://soatok.blog">Dhole Moments</a> (<a href="https://soatok.blog/feed/">RSS</a>)</li>
            </ul>
        </div>

        <div class="category">
            <h2>Pontificating</h2>
            <ul>
                <li><a href="https://www.dictionaryofobscuresorrows.com/">The Dictionary of Obscure Sorrows</a> (<a href="https://www.dictionaryofobscuresorrows.com/rss">RSS</a>)</li>
                <li><a href="https://interconnected.org/home">Interconnected</a> (<a href="https://interconnected.org/home/feed">RSS</a>)</li>
            </ul>
        </div>

        <div class="category">
            <h2>AI/ML</h2>
            <ul>
                <li><a href="https://huyenchip.com">Chip Huyen</a> (<a href="https://huyenchip.com/feed.xml">RSS</a>)</li>
                <li><a href="http://simonwillison.net/">Simon Willison's Weblog</a> (<a href="https://simonwillison.net/atom/everything/">RSS</a>)</li>
                <li><a href="https://veekaybee.github.io/">✰Vicki Boykis✰</a> (<a href="https://vickiboykis.com/index.xml">RSS</a>)</li>
                <li><a href="https://ryxcommar.com">r y x, r</a> (<a href="https://ryxcommar.com/feed/">RSS</a>)</li>
                <li><a href="https://www.latent.space">Latent.Space</a> (<a href="https://www.latent.space/feed">RSS</a>)</li>
                <li><a href="https://pinboard.in/u:sachaa/public/">Pinboard (sachaa)</a> (<a href="http://feeds.pinboard.in/rss/u:sachaa/">RSS</a>)</li>
                <li><a href="https://minimaxir.com/post/">Posts on Max Woolf's Blog</a> (<a href="https://minimaxir.com/post/index.xml">RSS</a>)</li>
                <li><a href="https://jack-clark.net">Import AI</a> (<a href="https://jack-clark.net/feed/">RSS</a>)</li>
                <li><a href="http://sujitpal.blogspot.com/">Salmon Run</a> (<a href="http://sujitpal.blogspot.com/feeds/posts/default">RSS</a>)</li>
                <li><a href="http://blog.research.google/">Google AI Blog</a> (<a href="https://feeds.feedburner.com/blogspot/gJZg">RSS</a>)</li>
                <li><a href="http://ben-evans.com/">Benedict Evans</a> (<a href="https://www.ben-evans.com/rss">RSS</a>)</li>
                <li><a href="https://lobste.rs/">lobste.rs: ai</a> (<a href="https://lobste.rs/t/ai.rss">RSS</a>)</li>
                <li><a href="https://thezvi.wordpress.com">Don't Worry About the Vase</a> (<a href="https://thezvi.wordpress.com/feed/">RSS</a>)</li>
                <li><a href="https://benjamincongdon.me/">Ben Congdon</a> (<a href="https://benjamincongdon.me/feed.xml">RSS</a>)</li>
                <li><a href="https://www.youtube.com/user/AndrejKarpathy">AndrejKarpathy's YouTube Videos</a> (<a href="http://gdata.youtube.com/feeds/base/users/AndrejKarpathy/uploads">RSS</a>)</li>
                <li><a href="https://nicholas.carlini.com/">Nicholas Carlini</a> (<a href="https://nicholas.carlini.com/writing/feed.xml">RSS</a>)</li>
                <li><a href="https://blog.fsck.com/">Massively Parallel Procrastination</a> (<a href="https://blog.fsck.com/feed/feed.xml">RSS</a>)</li>
            </ul>
        </div>

        <div class="category">
            <h2>General Blogs</h2>
            <ul>
                <li><a href="https://dansinker.com/">Dan Sinker's Blog</a> (<a href="https://dansinker.com/feed.xml">RSS</a>)</li>
                <li><a href="https://harper.blog/">Harper Reed's Blog</a> (<a href="https://harper.blog/index.xml">RSS</a>)</li>
                <li><a href="https://jeremywarner.net/">Blog: Jeremy Warner</a> (<a href="https://jeremywarner.net/atom.xml">RSS</a>)</li>
            </ul>
        </div>
    </div>
</div>

@code {
}
