@page "/blogroll"
@attribute [OutputCache(Duration = 3600)]

<PageTitle>Blogroll - David Jarman</PageTitle>

<div class="blogroll-container">
    <h1>Blogroll</h1>

    <div class="blogroll-intro">
        <p>Here are some blogs I read and enjoy. This list is a curated collection of writers and thinkers whose work I find valuable.</p>
        <p class="opml-download">
            <a href="/static/blogs.oplm" download="blogroll.opml">Download OPML file</a> to subscribe to all these feeds in your RSS reader.
        </p>
    </div>

    <div class="blogroll-list">
        <div class="category">
            <h2>Science &amp; Technology</h2>
            <div class="blog-entry">
                <h3><a href="https://what-if.xkcd.com">what if?</a></h3>
                <a href="https://what-if.xkcd.com/feed.atom" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://www.hanselman.com/blog/">Scott Hanselman</a></h3>
                <a href="https://www.hanselman.com/blog/feed/rss" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://devblogs.microsoft.com/">Microsoft for Developers</a></h3>
                <a href="https://devblogs.microsoft.com/landingpage/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://scotthelme.ghost.io/">Scott Helme (security)</a></h3>
                <a href="https://scotthelme.co.uk/rss/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://www.youtube.com/channel/UCL-fHOdarou-CR2XUmK48Og">Scott Hanselman</a></h3>
                <a href="https://www.youtube.com/feeds/videos.xml?channel_id=UCL-fHOdarou-CR2XUmK48Og" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://jvns.ca">Julia Evans</a></h3>
                <a href="https://jvns.ca/atom.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://ciechanow.ski/">Bartosz Ciechanowski</a></h3>
                <a href="https://ciechanow.ski/atom.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="http://rachelbythebay.com/w/">Writing - rachelbythebay</a></h3>
                <a href="http://rachelbythebay.com/w/atom.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://kubernetes.io/blog">Kubernetes Blog</a></h3>
                <a href="https://kubernetes.io/feed.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="http://nathanmarz.com/blog/">thoughts from the red planet</a></h3>
                <a href="http://feeds.feedburner.com/ThoughtsFromTheRedPlanet" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://zwischenzugs.com">zwischenzugs.com</a></h3>
                <a href="https://zwischenzugs.com/feed/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="http://oldvcr.blogspot.com/">Old Vintage Computing Research</a></h3>
                <a href="http://oldvcr.blogspot.com/feeds/posts/default?alt=rss" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://explained-from-first-principles.com/">Explained from First Principles</a></h3>
                <a href="https://explained-from-first-principles.com/feed.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://azure.microsoft.com/en-us/blog/">Microsoft Azure Blog</a></h3>
                <a href="https://azure.microsoft.com/en-us/blog/feed/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://www.stavros.io/">Stavros' Stuff</a></h3>
                <a href="https://feeds.feedburner.com/stavrosstuff" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://www.techemails.com">Internal Tech Emails</a></h3>
                <a href="https://www.techemails.com/feed" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://devblogs.microsoft.com/dotnet/author/toub/">Stephen Toub - MSFT, Author at .NET Blog</a></h3>
                <a href="https://devblogs.microsoft.com/dotnet/author/toub/feed/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://mitchellh.com/writing">Mitchell Hashimoto</a></h3>
                <a href="https://mitchellh.com/feed.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://seldo.com">Seldo.com</a></h3>
                <a href="https://seldo.com/rss.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://daringfireball.net/">Daring Fireball</a></h3>
                <a href="https://daringfireball.net/feeds/json" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://lethain.com/">Irrational Exuberance</a></h3>
                <a href="https://lethain.com/feeds.xml" class="feed-link">RSS</a>
            </div>
        </div>

        <div class="category">
            <h2>InfoSec</h2>
            <div class="blog-entry">
                <h3><a href="https://www.blackhillsinfosec.com/">Black Hills Information Security, Inc.</a></h3>
                <a href="https://www.blackhillsinfosec.com/feed/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://www.schneier.com/">Schneier on Security</a></h3>
                <a href="https://www.schneier.com/feed/atom/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://www.troyhunt.com/">Troy Hunt</a></h3>
                <a href="https://www.troyhunt.com/rss/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://krebsonsecurity.com">Krebs on Security</a></h3>
                <a href="https://krebsonsecurity.com/feed/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://soatok.blog">Dhole Moments</a></h3>
                <a href="https://soatok.blog/feed/" class="feed-link">RSS</a>
            </div>
        </div>

        <div class="category">
            <h2>Pontificating</h2>
            <div class="blog-entry">
                <h3><a href="https://www.dictionaryofobscuresorrows.com/">The Dictionary of Obscure Sorrows</a></h3>
                <a href="https://www.dictionaryofobscuresorrows.com/rss" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://interconnected.org/home">Interconnected</a></h3>
                <a href="https://interconnected.org/home/feed" class="feed-link">RSS</a>
            </div>
        </div>

        <div class="category">
            <h2>AI/ML</h2>
            <div class="blog-entry">
                <h3><a href="https://huyenchip.com">Chip Huyen</a></h3>
                <a href="https://huyenchip.com/feed.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="http://simonwillison.net/">Simon Willison's Weblog</a></h3>
                <a href="https://simonwillison.net/atom/everything/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://veekaybee.github.io/">✰Vicki Boykis✰</a></h3>
                <a href="https://vickiboykis.com/index.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://ryxcommar.com">r y x, r</a></h3>
                <a href="https://ryxcommar.com/feed/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://www.latent.space">Latent.Space</a></h3>
                <a href="https://www.latent.space/feed" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://pinboard.in/u:sachaa/public/">Pinboard (sachaa)</a></h3>
                <a href="http://feeds.pinboard.in/rss/u:sachaa/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://minimaxir.com/post/">Posts on Max Woolf's Blog</a></h3>
                <a href="https://minimaxir.com/post/index.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://jack-clark.net">Import AI</a></h3>
                <a href="https://jack-clark.net/feed/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="http://sujitpal.blogspot.com/">Salmon Run</a></h3>
                <a href="http://sujitpal.blogspot.com/feeds/posts/default" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="http://blog.research.google/">Google AI Blog</a></h3>
                <a href="https://feeds.feedburner.com/blogspot/gJZg" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="http://ben-evans.com/">Benedict Evans</a></h3>
                <a href="https://www.ben-evans.com/rss" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://lobste.rs/">lobste.rs: ai</a></h3>
                <a href="https://lobste.rs/t/ai.rss" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://thezvi.wordpress.com">Don't Worry About the Vase</a></h3>
                <a href="https://thezvi.wordpress.com/feed/" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://benjamincongdon.me/">Ben Congdon</a></h3>
                <a href="https://benjamincongdon.me/feed.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://www.youtube.com/user/AndrejKarpathy">AndrejKarpathy's YouTube Videos</a></h3>
                <a href="http://gdata.youtube.com/feeds/base/users/AndrejKarpathy/uploads" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://nicholas.carlini.com/">Nicholas Carlini</a></h3>
                <a href="https://nicholas.carlini.com/writing/feed.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://blog.fsck.com/">Massively Parallel Procrastination</a></h3>
                <a href="https://blog.fsck.com/feed/feed.xml" class="feed-link">RSS</a>
            </div>
        </div>

        <div class="category">
            <h2>General Blogs</h2>
            <div class="blog-entry">
                <h3><a href="https://dansinker.com/">Dan Sinker's Blog</a></h3>
                <a href="https://dansinker.com/feed.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://harper.blog/">Harper Reed's Blog</a></h3>
                <a href="https://harper.blog/index.xml" class="feed-link">RSS</a>
            </div>
            <div class="blog-entry">
                <h3><a href="https://jeremywarner.net/">Blog: Jeremy Warner</a></h3>
                <a href="https://jeremywarner.net/atom.xml" class="feed-link">RSS</a>
            </div>
        </div>
    </div>
</div>

@code {
}
