@page "/"
@using LinkBlog.Contracts
@using LinkBlog.Web.Components.Posts
@using LinkBlog.Web.Services
@attribute [OutputCache(Duration = 5)]

@inject IPostStore PostStore

<PageTitle>David Jarman's Blog</PageTitle>

<h1>David Jarman's Blog</h1>

<PostList Posts="posts" />

@code {
    private Post[]? posts;

    protected override async Task OnInitializedAsync()
    {
        // REVIEW: Is there a way to get a cancellation token?
        List<Post> posts = new List<Post>();
        await foreach (var post in PostStore.GetPosts())
        {
            posts.Add(post);
        }

        this.posts = posts.ToArray();
    }
}