@page "/"
@using LinkBlog.Contracts
@using LinkBlog.Web.Components.Posts
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject PostsClient PostsClient

<PageTitle>Home</PageTitle>

<h1>David Jarman's Links</h1>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PostList Posts="posts" />
}

@code {
    private Post[]? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await PostsClient.GetPostsAsync();
    }
}