@page "/"
@using LinkBlog.Data
@using LinkBlog.Web.Components.Posts
@using LinkBlog.Web.Services
@attribute [OutputCache(Duration = 5)]

@inject IPostStore PostStore

<HeadContent>
    <!-- Open Graph tags  -->
    <meta property="og:title" content="@BlogTitle" />
    <meta property="og:type" content="website" />
</HeadContent>

<PageTitle>@BlogTitle</PageTitle>

<h1>@BlogTitle</h1>

<hr class="title-divider">

<PostList Posts="posts" />

@code {
    private const string BlogTitle = "David Jarman's Blog";
    private const int TopN = 10; // Retrieve the latest 10 posts for the home page

    private Post[]? posts;

    protected override async Task OnInitializedAsync()
    {
        // REVIEW: Is there a way to get a cancellation token?
        List<Post> posts = new List<Post>();
        await foreach (var post in PostStore.GetPosts(TopN))
        {
            posts.Add(post);
        }

        this.posts = posts.ToArray();
    }
}