@page "/tags/{tag}"
@using LinkBlog.Data
@using LinkBlog.Web.Components.Posts
@using LinkBlog.Web.Services
@attribute [OutputCache(Duration = 5)]

@inject IPostStore PostStore
@inject ILogger<PostsForTag> Logger

<PageTitle>Filter by tag</PageTitle>

<h1>Tag: @Tag</h1>

@if (posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PostList Posts="posts" />
}

@code {
    [Parameter]
    public string? Tag { get; set; }

    private Post[]? posts;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Tag))
        {
            Logger.LogWarning("No tag specified.");
            return;
        }

        List<Post> posts = new List<Post>();
        // REVIEW: Is there a way to get a cancellation token?
        await foreach (var post in PostStore.GetPostsForTag(Tag))
        {
            if (post != null)
            {
                posts.Add(post);
            }
        }

        this.posts = posts.ToArray();
    }
}
