@page "/admin"
@using LinkBlog.Data
@using LinkBlog.Web.Services
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "Admin")]

@inject IPostStore PostStore
@inject ILogger<AdminHome> Logger

@* Add trix WYSIWYG editor *@
<HeadContent>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
</HeadContent>

<PageTitle>Admin</PageTitle>

<h1>Admin page</h1>

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <p style="color: red;">Error creating post: @ErrorMessage</p>
}

@if (!string.IsNullOrWhiteSpace(SuccessMessage))
{
    <p style="color: green;">@SuccessMessage</p>
}

<EditForm Model="PostEntity" FormName="postForm" OnValidSubmit="HandleSubmitAsync" Enhance="true">
    <div>
        <label for="PostTitle">Title: </label>
        <InputText id="PostTitle" @bind-Value="PostEntity!.Title" />
        <br/><br/>
        <label for="ShortTitle">Short Title: </label>
        <InputText id="ShortTitle" @bind-Value="PostEntity!.ShortTitle" />
        <br/><br/>
        <label for="PostContent">PostEntity content: </label>
        <InputText id="PostContent" type="hidden" @bind-Value="PostEntity!.Contents" />
        <trix-editor input="PostContent" class="post-editor"></trix-editor>
        <br/><br/>
        <label for="PostLink">Link: </label>
        <InputText id="PostLink" @bind-Value="PostEntity!.Link" />
        <br/><br/>
        <label for="LinkTitle">Link Title:</label>
        <InputText id="LinkTitle" @bind-Value="PostEntity!.LinkTitle" />
        <br/><br/>
        <label for="PostTags">Tags (comma separated):</label>
        <InputText id="PostTags" @bind-Value="Tags" />
        <br/><br/>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private PostEntity? PostEntity { get; set; }
    [SupplyParameterFromForm]
    private string? Tags { get; set; }
    private string? ErrorMessage { get; set; }
    private string? SuccessMessage { get; set; }

    protected override void OnInitialized() => PostEntity ??= new();

    private async Task HandleSubmitAsync()
    {
        if (PostEntity == null)
        {
            return;
        }

        // TODO: Add validation

        this.PostEntity.Id = Guid.NewGuid().ToString();
        this.PostEntity.Date = DateTimeOffset.UtcNow;

        // Split tags and get from database
        if (Tags != null)
        {
            List<string> tagNames = Tags.Split(',').Select(t => t.Trim()).ToList();
            List<TagEntity> tags = new List<TagEntity>();
            foreach (var tagName in tagNames.Where(t => !string.IsNullOrWhiteSpace(t)))
            {
                TagEntity? tag = await PostStore.GetTagAsync(tagName);
                if (tag == null)
                {
                    tag = new TagEntity { Name = tagName, Id = Guid.NewGuid().ToString() };
                    var success = await PostStore.CreateTagAsync(tag);
                    if (!success)
                    {
                        OnError($"Failed to create tag {tagName}");
                        return;
                    }
                }

                tags.Add(tag);
            }

            this.PostEntity.Tags = tags;
        }

        try
        {
            bool success = await PostStore.CreatePostAsync(this.PostEntity);

            if (success)
            {
                OnSuccess();
            }
            else
            {
                OnError("Failed to create post");
            }
        }
        catch (Exception ex)
        {
            OnError($"Failed to create post: {ex.Message}", ex);
        }
    }

    private void ClearForm()
    {
        PostEntity = new();
        Tags = string.Empty;
        ErrorMessage = null;
        StateHasChanged();
    }

    private void OnSuccess()
    {
        SuccessMessage = "PostEntity created successfully";
        Logger.LogInformation(SuccessMessage);
        ClearForm();
    }

    private void OnError(string message, Exception? exception = null)
    {
        ErrorMessage = message;

        if (exception != null)
        {
            Logger.LogError(exception, message);
        }
        else
        {
            Logger.LogError(message);
        }
    }
}